* {
  font-family: 'Kalam', cursive;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.firstbag {
  height: 100vh;
  background: linear-gradient(160deg, #000000, #153233); 
  background-size: cover;
}